*, *::before, *::after {
  /* border: solid black 1px; */
  box-sizing: border-box;
}

:root {
  --font-color: #fff;
  --primary-color: #05668d;
  --secondary-color: #00a896;
  --accent-color: #02c39a;
  --secondary-accent-color: #f0f3bd;

  --primary-font: 'Architects Daughter', cursive;
  --secondary-font: 'Permanent Marker', cursive;
}
body {
  padding: 0;
  margin: 0;

}

.container {
  padding: 5px;
}

#root {

  /* border: solid black 1px; */
  height: 100vh;
  width: 100%;
  /* margin: auto; */

  font-size: 14px;
  color: var(--font-color);
  font-family: var(--primary-font);

  display: grid;
  grid-template-rows: 120px auto 10%;
  grid-template-columns: 180px 10px auto;
  grid-template-areas:
    "header header header header"
    "side . main main"
    "footer footer footer footer";
  grid-gap: 5px 2px;
  justify-items: stretch;
}


header {
  background-color: var(--primary-color);
  grid-area: header;
  padding-left: 2rem;
  font-family: var(--secondary-font);
  font-size: 16px;
}

header p {
  font-family: var(--primary-font);
}
nav {
  background-color: var(--accent-color);
  grid-area: nav;
}
aside {
  grid-area: side;
  width: 100%;
  padding: 5px;
}
main {
  background-color: #fff;
  grid-area: main;
  width: 100%;
  overflow: auto;
}
footer {
  background-color: var(--primary-color);
  grid-area: footer;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-term-form-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  width: 100%;
}

.search-term-input {
  width: 100%;
  height: 3rem;
  font-size: 14px;
  font-family: var(--primary-font);
}

.add-btn, .search-btn {
  margin: 2px;
  height: 45px;

  font-size: 14px;
  font-family: var(--primary-font);
  font-weight: 700;
}

.add-btn {
  width: 100%;
  background-color: var(--secondary-accent-color);

  color: var(--secondary-color);
}

.search-btn {
  color: var(--font-color);
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: outset black 2px;
}

.gif-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gif-image-container {
  max-width: 200px;
  max-height: 200px;
  margin: 5px;
}

.gif-image-container img {
  width: 100%;
  height: auto;
}
